WXT_PUBLIC_FIREBASE_API_KEY=demo-api-key
WXT_PUBLIC_FIREBASE_APP_ID=demo-app-id
WXT_PUBLIC_FIREBASE_AUTH_DOMAIN=demo-twitch-friends.firebaseapp.com
WXT_PUBLIC_FIREBASE_DATABASE_URL=https://demo-twitch-friends.europe-west1.firebasedatabase.app
WXT_PUBLIC_FIREBASE_PROJECT_ID=demo-twitch-friends
WXT_PUBLIC_FIREBASE_USE_EMULATORS=true
WXT_PUBLIC_TWITCH_OAUTH_CALLBACK_URL=
